<html>
<head>
<title>Automated Flair Identification by Uploading File</title>
<style>
body 
{
background-color: brown;
text-align: center;
color: white;
font-family: Arial, Helvetica, sans-serif;
}
input
{
font-size:15px;
width: 15%;
}
</style>
</head>
<body>
<br><br>
<h1>Welcome to Bulk Reddit Flair Detector App using Text File</h1>
<p>
<p>Please upload a text (.txt) file containing Reddit URLs.<br>Results will be shared as a JSON object which contains the Reddit URL and its corresponding flair</p>
<br><br><br>
<form action = "https://flair-test.herokuapp.com/automated_testing" method = "post" enctype = "multipart/form-data" name = "Shaurya">
<br>
Select File: <input type  = "file" name = "upload_file">
<br><br>
<input type = "submit" value = "Sumbit"/>
<br><br><br><br><br>
<h2>Submitted by: Shaurya Luthra</h2>
<p>NSUT-Delhi, Second Year, Information Technology</p> 
</form>
</body>
</html>
